@import "compass/reset";
@import "blueprint/typography";
@import "compass/css3/border-radius";
@import "compass/typography/lists";
@import "compass/typography/links/hover-link";
@import "susy";

$blueprint-font-size: 14px;

$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

@include blueprint-typography;

.wrapper {
  @include container;
  //@include susy-grid-background;
  margin: 2em auto 4em;
}

header, footer {
  clear: both;
}

nav#main {
  @include pull(3);
  @include span-columns(3);

  ul {
    @include float-right;
    @include no-bullets;
    margin: 0;
    padding: 0;
  }
}

#photo {
  @include pre(3);
  @include span-columns(2);

  img {
    border: 1px solid lightgray;
    padding: 0.5em;
  }
}

hgroup#name {
  @include span-columns(7 omega);

  margin: 0.5em 0 1em;

  h1 {
    font-size: 2em;
    margin-bottom: 0.25em;
  }

  h2 {
    font-size: 1.25em;
    margin-bottom: 0;
  }
}

nav#social {
  @include span-columns(7 omega);

  ul {
    @include inline-block-list;

    li {
      margin: 0 1em 0 0;

      &:last-of-type {
        margin: 0
      }

      a {
        @include hover-link;
      }
    }
  }
}

.wrapper > header {
  @include pie-clearfix;

  margin-bottom: 4em;
}

section#education, section#career, section#skills, section#personality, section#reference {
  @include pre(3);
  @include span-columns(9 omega);

  margin-bottom: 4em;

  h1 {
    font-size: 2em;
    padding-bottom: 0.25em;
    border-bottom: 2px solid lightgray;
  }
}

section.degree, section.job {
  @include pie-clearfix;

  margin-bottom: 2em;

  &:last-child {
    margin-bottom: 0;
  }

  h2 {
    @include inline-block;
    margin-bottom: 0.5em;
    font-size: 1.25em;
  }

  span.period {
    font-size: 0.9em;
    background: #eee;
    padding: 0 0.5em;
    @include border-radius(5px);
    float: right;
    margin: 0 0.25em;
  }

  dl {
    @include pie-clearfix;
    margin: 0;
  }

  dt {
    @include span-columns(2, 9);
    color: #aaa;
  }

  dd {
    margin: 0;
    @include span-columns(7 omega, 9);
  }
}
